@font-face {
  font-family: "Deep Hero";
  src: url("../fonts/deep_hero/Deep-Hero.eot");
  src: url("../fonts/deep_hero/Deep-Hero.eot?#iefix") format("embedded-opentype"), url("../fonts/deep_hero/Deep-Hero.woff") format("woff"), url("../fonts/deep_hero/Deep-Hero.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Condensed Light";
  src: url("../fonts/Roboto_Condensed/RobotoCondensed-Light.eot");
  src: url("../fonts/Roboto_Condensed/RobotoCondensed-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto_Condensed/RobotoCondensed-Light.woff") format("woff"), url("../fonts/Roboto_Condensed/RobotoCondensed-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Condensed Bold";
  src: url("../fonts/Roboto_Condensed/RobotoCondensed-Bold.eot");
  src: url("../fonts/Roboto_Condensed/RobotoCondensed-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto_Condensed/RobotoCondensed-Bold.woff") format("woff"), url("../fonts/Roboto_Condensed/RobotoCondensed-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto Condensed Light", sans-serif;
  font-weight: 300;
}

.container {
  max-width: 1170px;
  width: 96%;
  margin: 0 auto;
}

.menu-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  color: #fff;
  margin: 0 auto;
  width: min(100%, 1170px);
}
.menu-block a {
  font-family: "Roboto Condensed Bold", sans-serif;
  font-weight: 700;
  font-size: 25px;
}

.menu {
  display: flex;
  align-items: center;
}
.menu p {
  color: #000;
}

.header__menu ul {
  display: flex;
  justify-content: start;
  margin: 20px;
}
.header__menu ul a {
  padding: 10px;
  color: #000;
  font-family: "Roboto Condensed Light", sans-serif;
  font-weight: 300;
  font-size: 18px;
}
.header__menu ul a:hover {
  color: #000000;
  border: 1px solid #ff5e00;
  box-shadow: 3px 5px #ff5e00;
  font-family: "Roboto Condensed Bold", sans-serif;
  font-weight: 700;
}
.header__socials a {
  padding: 10px;
}
.header__socials a:hover {
  border: 1px solid #ff5e00;
  box-shadow: 3px 5px #ff5e00;
}
.header__socials img {
  width: 25px;
  height: 25px;
}

hr {
  border: 0.3px solid rgba(143, 143, 143, 0.6196078431);
}

.one {
  display: flex;
}
.one__left, .one__right {
  width: 50%;
}
.one__left {
  align-content: center;
  justify-content: center;
}
.one__left h1 {
  font-family: "Deep Hero", sans-serif;
  font-weight: normal;
  font-size: 60px;
  margin: 10px;
}
.one__left p {
  margin: 10px;
}
.one__right {
  display: flex;
  justify-content: end;
}
.one__right img {
  width: 500px;
}

.button {
  margin: 10px;
  margin-top: 20px;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 33px;
  position: relative;
  background-color: #fff;
  text-transform: uppercase;
  font-family: "Deep Hero", sans-serif;
  font-weight: normal;
}

.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: #ff5e00;
  width: 0%;
  inset: 0;
  border-right: 6px solid #ff5e00;
  overflow: hidden;
  transition: 1s;
  -webkit-text-stroke: 1px #ff5e00;
}

.button:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px #ff5e00);
}

.two {
  display: flex;
}
.two__left, .two__right {
  width: 50%;
}
.two__left {
  display: flex;
  justify-content: start;
}
.two__left img {
  width: 500px;
  height: 400px;
  object-fit: cover;
}
.two__right {
  align-content: center;
  justify-content: center;
}
.two__right h1 {
  font-family: "Deep Hero", sans-serif;
  font-weight: normal;
  font-size: 60px;
  margin: 10px;
}
.two__right p {
  margin: 10px;
}

.three {
  display: flex;
}
.three__left, .three__right {
  width: 50%;
}
.three__left {
  align-content: center;
  justify-content: center;
}
.three__left h1 {
  font-family: "Deep Hero", sans-serif;
  font-weight: normal;
  font-size: 60px;
  margin: 10px;
}
.three__left p {
  margin: 10px;
}
.three__right {
  display: flex;
  justify-content: end;
}
.three__right img {
  width: 500px;
  height: 500px;
  object-fit: cover;
}

.four__mid h1 {
  display: flex;
  padding: 30px;
  justify-content: center;
  font-family: "Deep Hero", sans-serif;
  font-weight: normal;
  font-size: 60px;
}
.four__mid .slider {
  display: flex;
}
.four__mid .slider img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}
.four__mid .slider img:hover {
  width: 100%;
}

.five h1 {
  display: flex;
  padding: 50px;
  padding-top: 80px;
  justify-content: center;
  font-family: "Deep Hero", sans-serif;
  font-weight: normal;
  font-size: 60px;
}
.five__grid {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #ffffff;
  padding: 10px;
}
.five__grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 60px;
  font-size: 30px;
  text-align: center;
}
.five__grid-item:nth-child(-n+3) {
  border-bottom: 1px solid rgba(101, 101, 101, 0.8);
}
.five__grid-item:nth-child(-n+2) {
  border-right: 1px solid rgba(101, 101, 101, 0.8);
}
.five__grid-item:nth-child(n+4) {
  border-right: 1px solid rgba(101, 101, 101, 0.8);
}
.five__grid-item:last-child {
  border-right: none;
}
.five__grid-item img {
  padding: 20px;
}
.five__grid-item .bold {
  font-family: "Roboto Condensed Bold", sans-serif;
  font-weight: 700;
  padding-bottom: 30px;
  font-size: 22px;
}
.five__grid-item p {
  font-size: 18px;
}

.six h1 {
  display: flex;
  padding: 50px;
  padding-top: 80px;
  justify-content: center;
  font-family: "Deep Hero", sans-serif;
  font-weight: normal;
  font-size: 60px;
}
.six__input {
  display: flex;
  justify-content: center;
}
.six__input .input {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}
.six__input .input label {
  font-family: "Roboto Condensed Bold", sans-serif;
  font-weight: 700;
}
.six__input .input input {
  width: 250px;
  height: 35px;
}
.six__radio {
  display: flex;
  justify-content: start;
  margin-left: 190px;
  font-family: "Roboto Condensed Bold", sans-serif;
  font-weight: 700;
}
.six__radio label {
  margin-right: 20px;
}
.six__radio input {
  margin-right: 10px;
}/*# sourceMappingURL=style.css.map */